.course-card{
	position: relative;
	box-shadow: $card-box-shadow;
	// overflow: hidden;
	// padding: 10px;
	background-color: #FFFFFF;
}

body{
	background-color: #F3F3F3;
}

.course-card-pic img{
	width: 100%;
}

.books-collapse{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}
.course-books{

}
.book-card{
	height: 400px;
	margin-top: 20px;
	background-size: cover;
	background-position: center;
}
.book-card-pic{
	height: 300px;
}
.course-card-pic{
	padding: 10px;
}