/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// .jumbotron{
//    background-image: linear-gradient(
//    	to right,
//    	#FFFFFF,
//    	rgba(255,255,255,0.5) 50%,
//    	 asset_url('jumbotron.jpeg'));
//    background-size: cover;
//    background-position: center;
//    color: black;
//    height: 800px;
// } 
.jumbotron {
  height: 800px;
  // background-image: asset_url('jumbotron.jpeg');
  background-image: linear-gradient(to right, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 65%), asset_url('jumbotron.jpeg');
  background-size: cover;
  background-position: center;

  
}
.signin-btn{
	color: black;
	border: 2px solid black;
	border-radius: 15px;
	font-weight: lighter;

}
#signin-landing{
	text-align: center;
}
.signin-btn:hover{
	color: $gray;
	border-color: $gray;
}