<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @conversation.book %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
