<div id='conversation-container'>

  <div class="conversation-threads-container">
    <% @book.conversations.each do |convo| %>
    <% convo_relative = convo.parent_id.present? ? "parent-convo-" + convo.parent_id.to_s : "" %>
      <div id="convo-db-<%= convo.id %>" class='hidden convo-instance <%= convo_relative %>'>
    	  <% colors =  ["button-yellow", "button-blue", "button-green", "button-purple"] %>
    	  <% button_color = colors.sample %>
  	    <%= link_to convo.topic, book_conversation_posts_path(@book, convo),
            remote: true, class: "btn #{button_color} threads", id: convo.id %>
      </div>
    <% end %>
  </div>
    <!-- <div class="btn form-btn hidden" id='new-convo-on-existing'>Start Another Conversation</div> -->
</div>
