<div id='post-container'>
  <h2>Posts</h2>
  <% if !@posts.nil? %>
  <h4><%= @posts.first.user.full_name %></h4>
  <% end %>
  <div class="btn btn-primary" id='new-post-btn'>New Post</div>
  <a id='conversations-trigger'>Back to Threads</a>
</div>
