<div class="platform-nav">
  <!-- Logo -->
  <div class="highlighter-color-drop dropdown">
    <div class="highlighter-dropdown-toggle dropdown-toggle" id="highlighter-color-menu" data-toggle= "dropdown">
    <p>Color</p>
    </div>
     <ul class="highlighter-dropdown-menu dropdown-menu">
      <li>
        <div class="highlighter-color" id = "hl-yellow">
          
        </div>
      </li>
      <li>
        <div class="highlighter-color" id = "hl-blue">
          
        </div>
      </li>
      <li>
        <div class="highlighter-color" id = "hl-green">
          
        </div>
        
      </li>
      <li>
        <div class="highlighter-color" id = "hl-purple">
          
        </div>
      </li>
     </ul>
  </div>
  <div class="chapters-drop dropdown">
    <div class="highlighter-dropdown-toggle dropdown-toggle" id="highlighter-color-menu" data-toggle= "dropdown">
      <p>Chapters</p>
    </div>
    <ul class="chapter-dropdown-menu dropdown-menu">
      
    </ul>
  </div> 
  <div class="back-courses">
    <%= link_to "Back to Courses", courses_path  %>
  </div> 

</div>
