<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="form">
				<h2>Editing Course</h2>
				<div class="form-margin-top">
					<%= render 'form', course: @course %>
				</div>
			</div>
		</div>
	</div>
</div>
