<% content_for(:title_tag) do %>
  Curator -- Adding Book
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="form">
				<h2>Add A Book</h2>

				<%= render 'form', book: @book %>
			</div>
		</div>
	</div>
</div>