<div class="platform">
	<div class="row">
		<div class="col-md-8 book-content">
			<p id="text" spellcheck="false"><%= @book.content %></p>
		</div>
		<div class="col-md-4 conversation" id='sidebar'>
			<div id="test"></div>
			<%= render "/books/sidebar/conversations" %>
			<%#= render "/books/sidebar/posts" %>
			<%#= render "/posts/form" %>
		</div>
	</div>
</div>


<% content_for :javascript do %>
  <script type="text/javascript">

  // v 1,0

     $(document).ready(function(){
		 $(document).bind('keypress',pressed);
		    var userSelection;
		    if (window.getSelection) {
		        userSelection = window.getSelection();
		    }
		    else if (document.selection) { // should come last; Opera!
		        userSelection = document.selection.createRange();
		    }
		  function pressed(e)
		    {
		    if(e.keyCode === 13)
		    {

			    var node = document.getElementById('text');
				// htmlContent = node.innerHTML,
				// // htmlContent = "Some <span class="foo">sample</span> text."

				textContent = node.textContent;
				// textContent = "Some sample text."

		    	// selectAndHighlightRange('text', selectStart, selectEnd);
		        alert(userSelection);
		        highlight("yellow");
		        // $(userSelection).wrap("<span class='red'></span>")
		        // selectAndHighlightRange('text', 22, 30)

		        //put button.click() here
		    }
		}
		// $('#posts-trigger').on('click', function() {
		// 	$('#conversation-container').hide();
		// 	$('#post-container').show();
		// });
		// $('#conversations-trigger').on('click', function() {
		// 	$('#post-container').hide();
		// 	$('#conversation-container').show();
		//});
		// $('#new-post-btn').on('click', function() {
		// 	$('#conversation-container').show();
		// });
		$('.conv-btn').on('click', function(event) {
    	var str = $(event.target).attr('id');
			id = str.slice(6,)
			console.log(id);


			$.ajax({
		    url: "https://api.github.com/users/" + $('#username').val() + "/repos",
		    success: function(data) {
		      $('#repos').empty();
		      data.forEach(function(repository) {
		        $('#repos').append("<li>" + repository.full_name + "</li>");
		      });
		    },
		    error: function(jqXHR) {
		      $('#repos').empty().append("<li>" + jqXHR.responseText + "</li>");
		    }
		  });



		});


	});



  </script>

<% end %>
