<div class="book-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
			 url(<%#= cl_image_path book.cover_photo, :default_image => "math.svg" %>
			      <%= image_tag("math") %>)";>
</div>