<p id="notice"><%= notice %></p>

<div class="container">
  
    <% @courses.each do |course| %>
     <div class="row">
       <div class="col-md-6 col-xs-12 col-md-offest-3">
         <div class="course-card">
           <div class="course-card-pic">
             <%= image_tag "math" %>
           </div>
           <div class="course-card-information">
             <h3>Instructor:</h3>
             <p><%= course.curator %></p>
             <p>course.name</p>
           </div>
           <div class="btn btn-primary books" type="button" data-toggle="collapse" data-target="#books" aria-expanded="false" aria-controls="books">Books</div>
         </div>
       </div>
     </div>
     <div class="collapse" id="collapseExample">
        <% course.books.each do |book| %>
          <%= render 'book' %>
        <% end %>
    <% end %>
  
</div>




